# These requirements are sufficient to build the book but not to run
# all of the code. See environment.yml for the complete book dependencies.
jupyter-book==0.13.1
ghp-import==2.1.0
sphinxext-rediraffe==0.2.5
docopt==0.6.2
ruamel.yaml==0.17.26

