<nav class="c-textbook__sidebar">
  <ul class="c-sidebar__chapters">
    {% for chapter in site.data.toc %}
      <li class="c-sidebar__chapter">
        <a class="c-sidebar__entry" href="{{ chapter.url }}">
          {{ chapter.title }}
        </a>
      </li>

      {% if chapter.sections %}
        <ul class="c-sidebar__sections">
          {% for section in chapter.sections %}
            <li class="c-sidebar__section">
              <a class="c-sidebar__entry" href="{{ section.url }}">
                {{ section.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
