<nav class="c-textbook__sidebar">
  <ul class="c-sidebar__chapters">
    {% for chapter in site.data.toc %}
      {% if chapter.divider %}
        <li class="c-sidebar__divider"></li>
      {% else %}
        <li class="c-sidebar__chapter">
          <a class="c-sidebar__entry" href="{{ chapter.url }}">
            {{ chapter.title }}
          </a>

          {% if chapter.sections %}
            <ul class="c-sidebar__sections">
              {% for section in chapter.sections %}
                <li class="c-sidebar__section">
                  <a class="c-sidebar__entry" href="{{ section.url }}">
                    {{ section.title }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
