/**
 * The website contains two main components: the sidebar and the textbook page.
 * This file specifies the layout and includes classes to show/hide the sidebar
 * on small screens.
 *
 * The actual styling for the sidebar and page are located in their respective
 * component SCSS files. This file handles layout.
 *
 * [1]: The entire page is positioned relative so that when the page overflows
 *   (e.g. sidebar open on small screens) the user can't scroll left/right.
 * [2]: The sidebar and the textbook page are positioned absolute so that we
 *   can use translate() on the textbook page to reveal the sidebar.
 * [3]: Setting the background color hides the sidebar when it's behind the
 *   page.
 */

.c-textbook {
  /* [1] */
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.c-textbook__sidebar,
.c-textbook__page {
  /* [2] */
  position: absolute;
  height: 100vh;
  overflow: scroll;

  background-color: white; /* [3] */

  padding: $spacing-unit;
}

.c-textbook__page {
  transform: translate(calc(100% - 60px), 0);

  @include mq($from: tablet) {
    padding: $spacing-unit-large;
  }
}
